<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>具体的某一篇博客</title>

    <link rel="stylesheet" th:href="@{/css/templatemo.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.4.0/css/font-awesome.min.css}">
    <link th:href="@{/css/mycss.css}" rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- 引入公共的html页面 -->
<nav th:include="common::nav"></nav>
<div class="tm-header">
    <div class="container-fluid">
        <div class="tm-header-inner">
            <a href="#" class="navbar-brand tm-site-name">Classic</a>

            <!-- navbar -->
            <nav class="navbar tm-main-nav">

                <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About</a>
                        </li>
                        <li class="nav-item active">
                            <a href="blog.html" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>
    </div>
</div>

<div class="tm-blog-img-container">

</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                <div class="tm-blog-post">
                    <h3 class="tm-gold-text">Pellentesque fermentum mauris</h3>
                    <p>Vivamus accumsan blandit ligula. Sed lobortis efficitur sapien</p>
                    <img th:src="@{/img/tm-img-1010x336-1.jpg}" alt="Image" class="img-fluid tm-img-post">

                    <p>You can help templatemo by telling your friends about our HTML CSS templates. Praesent velit
                        ante, congue ac dignissim in, vehicula sit amet urna. Fusce in dapibus quam, eget finibus velit.
                        Nullam erat odio, vulputate id est ut, consequat rutrum justo. Vivamus vel leo vel nunc
                        tincidunt mattis. Sed neque diam, semper suscipit dictum a, sodales ac metus. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                    <p>Morbi vel pharetra massa, non iaculis tortor. Nulla porttitor tincidunt felis et feugiat. Vivamus
                        fermentum ligula justo, sit amet blandit nisl volutpat id. Fusce sagittis ultricies felis, non
                        luctus mauris lacinia quis. Ut fringilla lacus ac tempor ullamcorper. Mauris iaculis placerat ex
                        et mattis.</p>

                    <p>Quisque vel sem eu turpis ullamcorper euismod. Praesent quis nisi ac augue luctus viverra. Sed et
                        dui nisi. Fusce vitae dapibus justo. Pellentesque accumsan est ac posuere imperdiet. Curabitur
                        eros mi, lacinia at euismod quis, dapibus vel ligula. Ut sodales erat vitae nunc tempor mollis.
                        Donec tempor lobortis tortor, in feugiat massa facilisis sed. Ut dignissim viverra pretium. In
                        eu justo maximus turpis feugiat finibus scelerisque nec eros. Cras nec lectus tempor nibh
                        vestibulum eleifend et ac elit.</p>

                    <p>Sed vitae luctus libero. Nam sem neque, finibus id sem pharetra, cursus porttitor ligula.
                        Praesent aliquam fermentum dui, vitae venenatis libero vulputate ac. Fusce bibendum scelerisque
                        magna eget iaculis. Phasellus non arcu eu sem convallis semper. Duis vulputate dignissim
                        rhoncus.</p>
                </div>

                <div class="row tm-margin-t-big">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                        <div class="tm-content-box">
                            <img th:src="@{/img/tm-img-310x180-1.jpg}" alt="Image" class="tm-margin-b-30 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">Lorem ipsum dolor #1</h4>
                            <p class="tm-margin-b-20">Aenean cursus tellus mauris, quis
                                consequat mauris dapibus id. Donec
                                scelerisque porttitor pharetra</p>
                            <a href="#" class="tm-btn text-uppercase">Detail</a>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                        <div class="tm-content-box">
                            <img th:src="@{/img/tm-img-310x180-2.jpg}" alt="Image" class="tm-margin-b-30 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">Lorem ipsum dolor #2</h4>
                            <p class="tm-margin-b-20">Aenean cursus tellus mauris, quis
                                consequat mauris dapibus id. Donec
                                scelerisque porttitor pharetra</p>
                            <a href="#" class="tm-btn text-uppercase">Read More</a>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                        <div class="tm-content-box">
                            <img th:src="@{/img/tm-img-310x180-3.jpg}" alt="Image" class="tm-margin-b-30 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">Lorem ipsum dolor #3</h4>
                            <p class="tm-margin-b-20">Aenean cursus tellus mauris, quis
                                consequat mauris dapibus id. Donec
                                scelerisque porttitor pharetra</p>
                            <a href="#" class="tm-btn text-uppercase">Detail</a>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </div>
</section>


<!-- 引入公共的html页面 -->
<footer th:include="common::footer">
</footer>

<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
<script type="text/javascript" src="js/jquery-2.1.1.js" th:src="@{/js/jquery-2.1.1.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="js/agency.js" th:src="@{/js/agency.js}"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js" th:src="@{/js/jquery.easing.min.js}"></script>
<script src="js/classie.js" th:src="@{/js/classie.js}"></script>
<script src="js/cbpAnimatedHeader.js" th:src="@{/js/cbpAnimatedHeader.js}"></script>
</body>
</html>