<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META DATA -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">

    <!-- Owl Carousel Assets -->
    <link rel="stylesheet" th:href="@{/owl-carousel/owl.carousel.css}">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" th:href="@{/font-awesome-4.4.0/css/font-awesome.min.css}" type="text/css">
    <link th:href="@{/css/mycss.css}" rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sub-page">
<!-- /////////////////////////////////////////Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" th:href="@{/main.html}">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" th:href="@{/user/record}">Record</a>
                </li>
                <li>
                    <a class="page-scroll" th:href="@{/blog/list}">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" th:href="@{/user/about}">About</a>
                </li>
                <li>
                    <a class="page-scroll" th:href="@{/user/contact}">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Navigation -->

<!-- Background Gradients-->
<div class="site-gradients">
    <div class="site-gradients-media">

    </div>
</div>

<header class="container">
    <div class="site-branding">
        <h1 class="site-title">
            <a href="#">
                <span th:text="${session.user}"></span>
            </a>
        </h1>
        <h2 class="site-description">Welcome to Us !</h2>
    </div>
    <div class="social-links">
        <ul class="list-inline">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</header>


<!-- /////////////////////////////////////////Content -->
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div id="main-content">
                <article>
                    <div class='embed-container maps'>
                        <iframe th:src="@{/images/banner1.jpg}"
                                width="100%" height="780px" frameborder="0" style="border: 0"></iframe>
                    </div>
                    <div class="art-content">
                        <div class="row">
                            <div class="col-md-4 box-item">
                                <h3>Contact Info</h3>
                                <span>SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT VOLUPTATEM ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM.</span><br>
                                <br>
                                <p>JL.Kemacetan timur no.23. block.Q3<br>
                                    Jakarta-Indonesia</p>
                                <p>+6221 888 888 90 <br>
                                    +6221 888 88891</p>
                                <p>info@yourdomain.com</p>
                            </div>
                            <div class="col-md-8">
                                <h3>Contact Form</h3>
                                <form name="form1" method="post" action="/user/feedback">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control input-lg" name="name" id="name"
                                                       placeholder="Enter name" required="required"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control input-lg" name="email"
                                                       id="email" placeholder="Enter email" required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control input-lg" name="subject"
                                                       id="subject" placeholder="Subject" required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
													<textarea name="message" id="message" class="form-control" rows="4"
                                                              cols="25" required="required"
                                                              placeholder="Message" style="height: 190px;"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-skin btn-block" name="submitcontact"
                                                    id="submitcontact">Submit
                                            </button>
                                            <!--<a th:href="@{/}" class="btn btn-skin btn-block">Submit-->
                                            <!--</a>-->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

</div>

<!-- 引入公共的html页面 -->
<footer th:include="common::footer">
</footer>

<!-- jQuery -->
<script type="text/javascript" th:src="@{/js/jquery-2.1.1.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Custom Theme JavaScript -->
<!--<script th:src="@{/js/agency.js}"></script>-->

<!-- Plugin JavaScript -->
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/classie.js}"></script>
<script th:src="@{/js/cbpAnimatedHeader.js}"></script>

<!-- Google Map -->
<script>
    $('.maps').click(function () {
        $('.maps iframe').css("pointer-events", "auto");
    });

    $(".maps").mouseleave(function () {
        $('.maps iframe').css("pointer-events", "none");
    });

</script>
</body>
</html>